<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th class="col-head">Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="settings">
  <thead>
    <tr>
      <th class="col-head">Application</th>
      <th class="col-head">Setting</th>
      <th class="col-head">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let setting of settings">
      <td>{{ setting.applicationname }}</td>
      <td>{{ setting.settingname }}</td>
      <td>{{ setting.settingvalue }}</td>
    </tr>
  </tbody>
</table>